*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    background: rgb(201, 201, 201);
    font-family: sans-serif;
}

.form__submit{
    width: 350px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.form__submit input, .form__submit select{
    padding: 5px 5px;
    font-size: 16px;
}

.form__submit input:focus, .form__submit select:focus, .button__send button:focus{
    outline: none;
}

.form__submit label{
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;

}

.add__color{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.check__name, .check__code, .type__color{
    display: flex;
    flex-direction: column;
}

.name__color, .type__color, .code__color{
    margin-bottom: 15px;
}

.add__color-form h4{
    text-align: center;
    margin-bottom: 45px;
    font-size: 24px;
    letter-spacing: 1px;
}

.button__send button{
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    padding: 10px 60px;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    background: none;
    border: 1px solid rgb(1, 80, 80);
    font-weight: 700;
    color: rgb(18, 114, 114);
}

.input__error-name, .input__error-code{
    color: rgb(223, 2, 2);
    margin-top: 10px;
}

.palette{
    margin-top: 80px;
}

.show__colors{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.one__color{
    text-align: center;
    width: 30%;
    margin-bottom: 50px;
    padding: 40px;
}

.title{
    text-transform: uppercase;
    font-size: 18px;
}

.type{
    padding: 10px 0;
    font-size: 14px;
}

.code{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.one__color:nth-child(1){
    background: rgb(154,205,50);
}

.one__color:nth-child(2){
    background: rgba(0,139,139,1);
}

.one__color:nth-child(3){
    background: #ff4500;
}

.one__color .descript{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}