@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@mixin robotoRegular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin robotoBold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@keyframes modalShow{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

body::-webkit-scrollbar{
    width: 2px;
    background: rgba(0,0,0,1)
}

body::-webkit-scrollbar-thumb{
    background: rgba(207, 207, 207, .3);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.search {
    background: url('../img/cinema.png') no-repeat;
    background-size: cover;
    min-height: 100vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.25);  
        z-index: 0;
    }

    &__films {
    }

    &__form {
    }

    &__block {
        padding-top: 250px;
        display: flex;
        justify-content: center;
    }

    &__inputs {
        position: relative;
        h3{
            color:rgba(255, 255, 255, .7);
            text-transform: uppercase;
            @include robotoBold;
            text-align: left;
            margin-bottom: 25px;
            font-size: 25px;
            letter-spacing: 1px;
        }
        input{
            width: 300px;
            background: rgba(177, 176, 176, .15);
            border: none;
            border-bottom: 1px solid #b1b0b0;
            border-radius: 5px 5px 0 0;
            padding: 10px 10px;
            font-size: 19px;
            color:rgba(255, 255, 255, .5);
            @include robotoRegular;
            &:focus{
                outline: none;
            }
        }
    }

    &__about-title {
        margin-bottom: 15px;
    }

    &__title-input{
        &::placeholder {
            color: rgba(248, 53, 53, 0.705);
            @include robotoRegular;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }

    &__about-type {
        
    }

    &__ganre{
        position: relative;
        &_input{
            transition: border-radius .5s;
            padding-left: 15px !important;
            cursor: pointer;
            text-transform: capitalize;
        }
    }

    &__select{
        position: absolute;
        display: block;
        content: '';
        background: rgba(177, 176, 176, .15);
        width: 100%;
        overflow: hidden;
        border-top: none;
        border-radius: 0 0 10px 10px;
        transition: all .5s;
        div{
            padding: 13px 0px;
            cursor: pointer;
            text-transform: capitalize;
            color:rgba(255, 255, 255, .7);
            @include robotoBold;
            border-top: 1px solid rgba(255, 255, 255, .5);
            letter-spacing: 1px;
            padding-left: 15px;
            transition: background 0.2s;
            &:first-child{
                border-top: none;
            }
            &:hover{
                background: rgba(255, 255, 255, .15);
            }
        }
    }

    &__about-type, &__about-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        label{
            margin-right: 25px;
            font-size: 18px;
            @include robotoBold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color:rgba(255, 255, 255, .5);
        }
    }

    &__button{
        transition: all .5s ease-out;
        transition-delay: 0.5s;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__send {
        cursor: pointer;
        @include robotoRegular;
        text-align: center;
        border: 2px solid rgba(255, 255, 255, 0.7);
        background: rgba(177, 176, 176, .15);
        padding: 8px 0;
        width: 200px;
        border-radius: 7px;
        font-size: 18px;
        text-transform: uppercase;
        @include robotoBold();
        color:rgba(255, 255, 255, .6);
        letter-spacing: 1px;
        transition: all .3s;
        &:hover{
            letter-spacing: 3px;
            background: rgba(255, 255, 255, 0.3);
            border: 2px solid transparent;
            color:rgba(255, 255, 255, .7);
        }
    }

    &__error{
        display: flex;
        justify-content: center;
    }

    &__response-error{
        padding: 20px 100px;
        border: 1px solid white;
        text-align: center;
        margin-top: 200px;
        color:rgba(255, 255, 255, .7);
        text-transform: uppercase;
        @include robotoBold;
        font-size: 44px;
    }

    &__all-films{
        background: url('../img/table.jpg');
        background-repeat: repeat-y;
        background-size: contain;
    }

    &__show{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__wrapper-show{
        display: flex;
        width: 30%;
        margin-bottom: 50px;
        &:nth-child(-n+3){
            margin-top: 100px;
        }
        &:last-child{
            margin-bottom: 100px;
        }
    }

    &__right-part{
        margin-left: 25px;
        color:rgba(255, 255, 255, .7);
        @include robotoRegular;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__image{
        height: 200px;
        width: 135px;
        object-fit: cover;
    }

    &__type-films{
        text-transform: capitalize;
        margin-bottom: 15px;
        font-size: 14px;
    }

    &__title-film{
        font-size: 18px;
        @include robotoBold;
        letter-spacing: 1px;
        margin-bottom: 25px;
    }

    &__year{
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__button-details{
        cursor: pointer;
        background: none;
        border: 1px solid #b1b0b0;
        color:rgba(255, 255, 255, .5);
        padding: 10px 0;
        width: 100%;
        font-size: 16px;
        @include robotoBold;
        letter-spacing: 1px;
        transition: background .5s, border-radius .5s;
        &:hover{
            background: #b1b0b0;
            border-radius: 10px;
            color:rgba(56, 56, 56, 0.801);
        }
        &:focus{
            outline: none;
        }
        &:active{
            outline: none;
            box-shadow: 0 0 10px rgba(255,255,255,0.5);
        }
    }

    &__paginator{
        // margin-top: 50px;
        // padding-bottom: 100px;
        display: flex;
        justify-content: center;
        .all__page{
            color:rgba(255, 255, 255, .5);
            @include robotoBold();
            font-size: 20px;
            align-self: center;
        }

        button{
            margin: 0 25px;
            cursor: pointer;
            padding: 5px 10px;
            background: none;
            border: 3px solid rgba(255, 255, 255, .5);
            color:rgba(255, 255, 255, .5);
            @include robotoBold();
            letter-spacing: 4px;
            font-size: 20px;
            transition: background 0.3s;
            &:focus{
                outline: none;
            }
            &:disabled{
                cursor: default;
                border: transparent;
                color: transparent;
                &:hover{
                    background: none;
                }
            }
            &:hover{
                background: rgba(177, 176, 176, .15);
            }
        }
    }
}

.modal{
    color:rgba(255, 255, 255, .5); 
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    @include robotoRegular;
    &__window{
        position: relative;
        max-width: 1000px;
        background-color: rgba(0,0,0, 1);
    }

    &__info-film{
        padding: 25px;
    }

    &__cross{
        cursor: pointer;
        width: 15px;
        position: absolute;
        top: 20px;
        right: 20px;
        fill: rgba(255, 255, 255, .5);
    }

    &__description{
        display: flex;
    }

    &__hide{
        display: none;
    }

    &__show{
        display: flex;
        justify-content: center;
        align-items: center;
        .modal__window{
            animation: modalShow 1.5s;
        }
    }

    &__center-part{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 25px;
    }

    &__row{
        display: flex;
        justify-content: space-between;
        div{
            &:nth-child(2n-1){
                @include robotoBold;
                letter-spacing: 1px;
            }
        }
    }

    &__answer{
        width: 300px;
    }

    &__headding{
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        @include robotoBold;
        font-size: 22px;
    }
}

